@import 'tailwindcss';

@theme {
  --color-border: oklch(0.922 0 0);
  --color-primary: var(--color-purple-500);
  --color-primary-active: var(--color-purple-400);
  --color-accent: var(--color-fuchsia-500);
  --body-bg: var(--color-stone-950);
  --body-text: var(--color-zinc-50);
  --color-muted: var(--color-zinc-500);
  --color-muted-active: var(--color-zinc-50);
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  a,
  button,
  [role='button'],
  [type='button'],
  [type='submit'],
  [type='reset'],
  label[for],
  select,
  summary,
  [onclick],
  [tabindex]:not([tabindex='-1']) {
    cursor: pointer;
  }

  body {
    color: var(--body-text);
    background: var(--body-bg);
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
      'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
}
