@import "tailwindcss";

@theme {
  --color-border: oklch(.922 0 0);
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    @apply bg-black text-zinc-50 antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  h1 {
    @apply text-8xl;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 0.9;
    text-transform: uppercase;
  }

  h2 {
    @apply text-6xl;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 0.95;
    text-transform: uppercase;
  }

  h3 {
    @apply text-3xl;
    font-weight: 600;
    letter-spacing: -0.01em;
  }

  p {
    @apply text-base;
    line-height: 1.6;
  }
}
